    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Leewayz.com <i> is a web application </i> that was developed in the Silicon Valley. The creators understand first hand how the housing crisis in this area affects people. The housing crisis has not only hit the Bay Area but other parts of the country. “We have systematic failures to create adequate affordable housing for our hard-working families, and that is something we must change,” said Oakland Mayor Libby Schaaf (Colorado, 2020).
          <br />
          <br />
          <p class ="reference">
          Colorado, M. (2020, February 10). Making It in the Bay: How the Bay Area's    Housing Crisis Spiraled Out of Control. Retrieved March 29, 2020, from https://www.nbcbayarea.com/news/local/making-it-in-the-bay/making-it-in-the-bay-how-the-bay-areas-housing-crisis-spiraled-out-of-control/2230410/</p></p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Decoration Resources</h6>
          <ul class="footer-links">
            <li><a href="https://diyprojectsforteens.com/diy-room-decor-ideas-teens/">Best DIY Room Ideas for Teens</a></li>
            <li><a href="https://www.pinterest.com/housingcarolina/diy-room-decor-more/">Pinterest Room Decor</a></li>
            <li><a href="https://freshome.com/bedroom/22-small-bedroom-ideas-that-are-big-in-style/">22 Small Bedroom Ideas</a></li>
            <li><a href="https://www.goodhousekeeping.com/home/decorating-ideas/g1727/bedroom-makeover-ideas/">40 Easy Bedroom Makeover Ideas</a></li>
            <li><a href="https://www.elledecor.com/design-decorate/room-ideas/g596/36-things-bedroom-needs/">36 Bedroom Design Ideas</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Great Cities</h6>
          <ul class="footer-links">
            <li><a href="https://www.sftravel.com/">San Franciso</a></li>
            <li><a href="https://www.bostonusa.com/">Boston</a></li>
            <li><a href="https://www.nycgo.com/">New York</a></li>
            <li><a href="https://www.sanjose.org/">San Jose</a></li>
            <li><a href="https://www.miamiandbeaches.com/">Miami</a></li>
          
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <footer class="site-footer">
    <div class="bottom-container">
          <!-- <img class = "logoheader" src="img/darklogo.png" > -->
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Leewayz</a>
        <a href="/admin">Admin</a> 
          <a href="/legal">Legal</a>
       </p>
      </div>
      </div>
    </div>
</footer>
    </body>
</html>
