<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="img/x-icon" href="img/favicon.ico"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



  <script src = 'js/functions.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  
<header>
    <nav>
      <img class = "logoheader" src="img/teallogo.png" width="250">
        <ul>
          <li> <a data-page="home" href="/">HOME </a></li>
          <li> <a data-page="listings" href="/listings">LISTINGS</a></li>

          <li> <a  href="profiles">RENTER PROFILES</a></li>  


          <%-menuItem%> 

        </ul>
    </nav>
  </header>
<body>
