<%- include('partials/header'); -%>



<div class="wrapper">
    <img src="img/logohoriz.png" alt="Team_image"  height="500" width="1200">
    <div class="team">
      <div class="team_member">
       
        <h3>Christopher Piwarski</h3>
        <img class="circular--square" src="img/Chris.jpg" />
        <p class="role">Systems Engineer</p>
        <p class="job" >Christopher Piwarski is a computer science student at 
          CSU - Monterey Bay and a systems administrator. He has a deep interest
          in infrastructure, automation, and the hardware / software interface. 
          He hopes to pursue a career in systems engineering after graduation 
          this Fall.
        </p>
        <br>
        <a href = "mailto:cpiwarski@csumb.edu? subject = text" button class ="button">Click to email</a>
      
      </div>
      <div class="team_member">
        <div class="team_img">
         
        </div>
        <h3>Wais Robleh</h3>
        <img class="circular--square" src="img/myphotowais.jpg" />
        <p class="role"> Full Stack Development </p>
        <p class="job">Wais Robleh is a student of Computer Science at CSU - Monterey Bay.
          He plans to graduate in June of this year and enter into a career of software engineering.
        </p>
        <br>
        <a href = "mailto:wrobleh@csumb.edu? subject = text" button class ="button">Click to email</a>
      </div>
      <div class="team_member">
        <div class="team_img">
         
        </div>
        <h3>Mark Mariscal</h3>
        <img class="circular--square" src="img/Mark_Mariscal.png" />
        <p class="role"> Full Stack Web Developer</p>
        <p class="job" >Mark Mariscal is a computer science student at CSU - Monterey Bay. Mark hopes to use his unique background as a mental health therapist to help him solve real world issues with technologie. Mark hopes to pursue a career in software engineering after graduating this summer. </p>
        <br>
        <a href = "mailto:mamariscal@csumb.edu? subject = text" button class ="button">Click to email</a>
      
      
      </div>
    </div>
  </div> 
 <%- include('partials/footer'); -%>


 