<%- include('partials/header'); -%>

<h1>Admin Functions:</h1>


<label for="adminTask">Choose an option:</label>        
<form method="post" action="/adminChooser">
  <select id="adminTask">
    <option value="addUser">Add User</option>
    <option value="delUserEmail">Delete User By Email</option>
    <option value="addUser">Delete User By Id</option>
    <option value="addListing">Add Listing</option>
    <option value="delListing">Delete Listing By Id</option>
  </select>
    <button class = "button" type="submit">Login</button>
  </div>
    </form>


<%- include('partials/footer'); -%>