<%- include('partials/header'); -%>
<!DOCTYPE html>
<html>
        <br />
        <p>Listing Deleted Successfully</p>

</table>
  <br />
  <a href="listings" class="float">Return to Listings</a>

  <footer>
    <%- include('partials/footer'); -%>
  </footer>
</body>

</html>
