<%- include('partials/header'); -%>


<div class="imgcontainer">
    <img src="img/logo_header.png"  height="500" alt="Avatar" class="avatar">
  </div>

  <div class = "listing">
    <h6>Legal</h6>
    <br />
    <p class = "new_size">
        The organizers of Leewayz recognize housing to be a fundamental human right,
        and as such, strives to make a platform that is inclusive and accessible. 
        Leewayz works tirelessly to make a platform that is safe and does not 
        discriminate on the basis of race, sex, creed, political affiliation, sexual preference, or sexual identity.<br /><br />
    
        Leewayz is an open platform for renters and landloards alike to arrange
        affordable housing accomodation. While Leewayz is happy to offer to platform,
        Leewayz does not participate in the tenant - landlord relationship. All arrangements
        made through Leewayz are personal, and between the individuals involved, and 
        does not include the website, it's organization, or contributors to the project.
    </p>
    </div>
 <%- include('partials/footer'); -%>


 