<%- include('partials/header'); -%>
<!DOCTYPE html>
<html>
    
        <main>
          <div class="jumbotron">

<p>
    Thank you for your listing.

<a href="/listings"">Return To Listings</a>
</p>
</div>
<footer>
    <%- include('partials/footer'); -%>
  </footer>
</body>

</main>
</html>