<%- include('partials/header'); -%>
<!DOCTYPE html>
<html>
    
        <main>
          <div class="jumbotron">
    <br />
    <h3>Your query did not return any results. Please try another city.</h3>       
          
     
    </div>
  </main>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer>
    <%- include('partials/footer'); -%>
  </footer>
</body>

