<%- include('partials/header'); -%>
<!DOCTYPE html>
<html>
    
        <main>

            <p>Your Profile Has Been Deleted</p>

        </main>

  <footer>
    <%- include('partials/footer'); -%>
  </footer>
</body>

</html>
