<%- include('partials/header'); -%>


<div class="child-page-listing">

    <h6>Great Photo!</h6>
  
   
    
        <img width="300" height="169" class ="image1" src="  <%= data.propic%>">
  <br>
  <br>



<!-- <img src ='<%= data.propic%>'/> -->

 <%- include('partials/footer'); -%>