<%- include('partials/header'); -%>





  <div class="imgcontainer">
    <img src="img/logo_header.png"  height="500" alt="Avatar" class="avatar">
  </div>


      <form action="/listings">
    <button class = "button" type="submit">Tenant</button> 
    

    <form action="/landlord">
    <button class = "button" type="submit">LandLord</button>
    </form>
    
      
    
    



<%- include('partials/footer'); -%>